.container {
  width: 100%;
  max-width: 1147px;
  height: auto;
  padding: 86px 30px;
  margin: 0 auto;
}

.container p {
  font-family: Graphik, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  width: 100%;
  /* padding: 0.5em 0; */
}

.container p strong {
  font-weight: 500;
}

.container blockquote {
  position: relative;
  padding: 86px 0;
}

.container blockquote p {
  font-family: Orelo, BigCaslonFB, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 73px;
  letter-spacing: -0.01em;
  text-align: center;
  width: 100%;
  padding: 64px 0 0;
  max-width: 1021px;
  margin: 0 auto;
}

.container blockquote p:first-child {
  position: absolute;
  font-size: 278px;
  line-height: 178px;
  font-weight: 400;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 43px 30px;
    margin: 0 auto;
  }
  .container p {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 20px;
  }

  .container blockquote {
    padding: 43px 0;
  }

  .container blockquote p {
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.3px;
    padding: 32px 0 0;
  }

  .container blockquote p:first-child {
    font-weight: 500;
    font-size: 149px;
    line-height: 81px;
  }
}
